<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="wrapper">

        <ul class="footer-links">
            <li><a href="{{ site.baseurl }}/assets/download/data-science-quiz.apgk"><i class="fas fa-file-download fa-2x"></i></a>
                <a href="{{ site.baseurl }}/assets/download/data-science-quiz.apkg">Anki package</a></li>
            <li><a href="mailto:{{ site.email }}"><i class="fa fa-envelope fa-2x"></i></a>
                <a href="mailto:{{ site.email }}">Contact</a>
            </li>
            <li><a href="{{ site.github }}"> <i class="fab fa-github fa-2x"></i></a>
                <a href="{{ site.github }}">Source</a></li>
        </ul>


    </div>

</footer>